<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/desktop-index.css">
    <title>Welcome to OnTheDotHR</title>
</head>
<body>
<header th:replace="partials/partials.html :: header"></header>

<!-- Hero image -->
<section id="hero-container">
    <img id=hero-image src="https://via.placeholder.com/1440x550.png?text=SLOGAN HERE" alt="Placeholder image">
</section>
</body>
</html>