<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/desktop-index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Welcome to OnTheDotHR</title>
</head>

<body>
<header th:replace="partials/partials.html :: header"></header>

<!-- Hero image -->
<section id="my-hero-container" class="mb-5">
    <img id="my-hero-image" src="/images/hero.jpg" alt="Office Workers">
    <h1 id="my-hero-slogan" class="display-1">HR solutions at your fingertips</h1>
    <a id="hero-sign-up" href="/sign-up">Get it free</a>
</section>

<!-- Info/site demo section -->
<section class="py-5">
    <div class="container mb-5">
        <div class="row">
            <div class="col demo-img-container">
                <img src="../images/demo1.png" alt="placeholder" class="demo-img">
            </div>
            <div class="col">
                <p class="pt-5 h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                    adipisci aspernatur consectetur deleniti doloremque eveniet exercitationem
                    facilis fugiat hic ipsam maiores quibusdam quo tempore temporibus ut? Beatae ipsa omnis quibusdam.
                </p>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <p class="pt-5 h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                    adipisci aspernatur consectetur deleniti doloremque eveniet exercitationem
                    facilis fugiat hic ipsam maiores quibusdam quo tempore temporibus ut? Beatae ipsa omnis quibusdam.
                </p>
            </div>
            <div class="col demo-img-container">
                <img src="/images/demo2.png" alt="placeholder" class="demo-img">
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section id="testimonial-section" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/images/smile.png" alt="smile logo" id="testimonial-img">
            </div>
            <div class="col" id="testimonial-sub-section">
                <h1 class="mb-4 text-center text-primary">Company Name</h1>
                <h4>Bert Reynalds</h4>
                <h4 class="pb-4">CEO and Founder of Company Name</h4>
                <blockquote class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolores eaque eligendi fuga inventore iste laudantium maxime
                    nesciunt officiis sint voluptatum? Ab, aperiam beatae consequuntur
                    corporis culpa, dignissimos dolor doloremque error eum inventore ipsam
                    laboriosam laudantium maiores minus natus nulla odit optio praesentium quam
                    quia quisquam rem repellendus sunt tempore vero.
                </blockquote>
            </div>
        </div>
    </div>
</section>

<!-- Sign up Banner -->
<section id="sign-up-banner-section" class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-light text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, doloribus.</h1>
    <a id="banner-sign-up-btn" href="/sign-up" class="btn btn-warning mt-3 px-4 py-2">SIGN UP</a>
</section>

<footer th:replace="partials/partials.html :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script src="/js/sidepanel.js"></script>
</body>
</html>