<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <title>Partials</title>
</head>
<body>

<!-- HEADER FRAGMENT -->
<header th:fragment="header">
    <a href="#">Burger</a>
    <h1>LOGO</h1>
    <a href="/login">Login</a>
</header>

<!--&lt;!&ndash; NAV FRAGMENT &ndash;&gt;-->
<!--<nav th:fragment="navbar">-->
<!--    <ul>-->
<!--        <li><a href="/posts">Home</a></li>-->
<!--        <li><a href="/posts">Posts</a></li>-->
<!--        <li><a href="/posts/create">Create Post</a></li>-->
<!--    </ul>-->
<!--</nav>-->

<!-- FOOTER FRAGMENT -->
<!--<footer th:fragment="footer">FOOTER</footer>-->
</body>
</html>