<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body sec:authorize="isAuthenticated()">
    <header th:replace="partials/partials.html :: header"></header>
    <h1>Dashboard</h1>
    <span th:text="${user.getFirstName()}"></span>&nbsp;<span th:text="${user.getLastName()}"></span><br>

    <!-- If user has a supervisor, display that supervisor's name -->
    <div th:switch="${supervisor == null}">
        <span th:case="${true}"></span>
        <span th:case="*">
            <span>Supervisor: </span>
            <span th:text="${supervisor.getFirstName()}"></span>&nbsp;
            <span th:text="${supervisor.getLastName()}"></span><br>
        </span>
    </div>

    <!-- Only show supervisor dashboard button to supervisors -->
    <div th:switch="${user.isSupervisor()}">
        <form th:case="${true}" method="get" action="/supervisor-dashboard">
            <input type="submit" value="Supervisor Dashboard">
        </form>
        <span th:case="*"></span>
    </div>

    <!-- Display appointments section -->
    <div id="employee-appointments">
        <h1>Upcoming Appointments</h1>
        <div th:switch="${appointments.isEmpty() && supervisorAppointments.isEmpty()}">
            <div th:case="${true}">No scheduled appointments</div>
            <div th:case="*">
                <!-- Display employee's approved and upcoming appointments with their supervisor -->
                <div th:each="appointment : ${appointments}">
                    <span th:text="${appointment.title}"></span>
                    <span th:text="${appointment.description}"></span>
                    <span th:text="${appointment.date}"></span>
                    <span th:text="${appointment.time}"></span>
                    <span th:text="${supervisor.firstName}"></span>
                    <span th:text="${supervisor.lastName}"></span>

                    <!-- Cancel appointment -->
                    <form th:action="@{/cancel-appointment/{id}(id=${appointment.id})}" method="post" style="display:inline;">
                        <input type="submit" value="Cancel" class="btn btn-danger">
                    </form>
                </div>

                <!-- Supervisor's appointments with their employees -->
                <div th:each="appointment : ${supervisorAppointments}">
                    <span th:text="${appointment.title}"></span>
                    <span th:text="${appointment.description}"></span>
                    <span th:text="${appointment.date}"></span>
                    <span th:text="${appointment.time}"></span>
                    <span th:text="${appointment.employee.firstName}"></span>
                    <span th:text="${appointment.employee.lastName}"></span>

                    <!-- Cancel supervisor appointment -->
                    <form th:action="@{/cancel-appointment/{id}(id=${appointment.id})}" method="post" style="display:inline;">
                        <input type="submit" value="Cancel" class="btn btn-danger">
                    </form>
                </div>
            </div> <!-- End appointments switch default case -->
        </div>
    </div>

    <!-- Button to request an appointment -->
    <form action="/request-appointment" method="get">
        <input type="submit" value="Request Appointment">
    </form>

    <!-- Employee current deliverables section -->
    <div id="employee-deliverables">
        <h1>Deliverables</h1>
        <div th:switch="${deliverables.isEmpty()}">
            <span th:case="${true}">You are all caught up!</span>
            <span th:case="*">You got stuff to do!</span>
        </div>
        <div th:each="deliverable : ${deliverables}">
            <span th:text="${deliverable.id}"></span>
            <span th:text="${deliverable.title}"></span>
            <span th:text="${deliverable.description}"></span>
            <span th:text="${deliverable.dateCreated}"></span>
            <span th:text="${deliverable.deadline}"></span>
            <span th:with="category = ${deliverable.getCategory()}" th:text="${category.getCategoryName()}"></span>
            <span th:with="status = ${deliverable.getStatus()}" th:text="${status.getStatusName()}"></span>
            <form style="display: inline;" th:action="@{/details/{id}(id=${deliverable.id})}" method="get">
                <input type="submit" value="Details">
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>