<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body sec:authorize="isAuthenticated()">
    <header th:replace="partials/partials.html :: header"></header>
    <h1>Dashboard</h1>
    <span th:text="${user.getFirstName()}"></span>&nbsp;<span th:text="${user.getLastName()}"></span><br>
    <div th:switch="${supervisor == null}">
        <span th:case="${true}"></span>
        <span th:case="*">
            <span>Supervisor: </span>
            <span th:text="${supervisor.getFirstName()}"></span>&nbsp;
            <span th:text="${supervisor.getLastName()}"></span><br>
        </span>
    </div>

    <!-- Only show supervisor dashboard button to supervisors -->
    <div th:switch="${user.isSupervisor()}">
        <form th:case="${true}" method="get" action="/supervisor-dashboard">
            <input type="submit" value="Supervisor Dashboard">
        </form>
        <span th:case="*"></span>
    </div>

    <!-- Placeholder appt. requst form -->
    <form id="appointment-request" action="/appointment-request" method="post">
        <label for="reason">Reason for Appt.</label><br>
        <input type="text" name="reason" id="reason"><br>
        <label for="details">Additional details</label><br>
        <textarea name="details" id="details" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Submit Appt. Request">
    </form>

    <!-- Employee current deliverables section -->
    <div id="employee-deliverables">
        <h1>Deliverables</h1>
        <div th:switch="${deliverables.isEmpty()}">
            <span th:case="${true}">You are all caught up!</span>
            <span th:case="${false}">You got stuff to do!</span>
            <span th:case="*">Should not run</span>
        </div>
        <div th:each="deliverable : ${deliverables}">
            <span th:text="${deliverable.id}"></span>
            <span th:text="${deliverable.title}"></span>
            <span th:text="${deliverable.description}"></span>
            <span th:text="${deliverable.dateCreated}"></span>
            <span th:text="${deliverable.deadline}"></span>
        </div>
    </div>
</body>
</html>