<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body sec:authorize="isAuthenticated()">
<header th:replace="partials/partials.html :: header"></header>
<h1>Profile</h1>

<button id="edit-button">Edit</button>
<form id="edit-profile-form" th:action="@{/profile/{id}/edit(id=${user.id})}" method="post">
    <label for="first-name">First Name: </label>
    <input type="text" name="first-name" id="first-name" class="input-field" th:value="${user.firstName}" readonly><br>
    <label for="last-name">Last Name: </label>
    <input type="text" name="last-name" id="last-name" class="input-field" th:value="${user.lastName}" readonly><br>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" class="input-field" th:value="${user.username}" readonly><br>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" class="input-field" th:value="${user.email}" readonly><br>
    <label for="contact-no">Contact Number: </label>
    <input type="text" name="contact-no" id="contact-no" class="input-field" th:value="${user.contactNo}" readonly><br>
    <button id="cancel-button">Cancel</button>
    <input type="submit" value="Save Changes">
</form>

<!-- If a profile is accessed from 'view profile' button in supervisor dashboard,
 return link should go back to supervisor dashboard.
 For all other cases, return to dashboard -->
<div th:switch="${isSupervisor} == true">
    <div th:case="${true}">
        <a href="/dashboard">Return to dashboard</a><br>
        <a href="/supervisor-dashboard">Return to supervisor dashboard</a>
    </div>
    <a th:case="*" href="/dashboard">Return to dashboard</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#edit-button").click(function(e){
        e.preventDefault();
        $("#edit-profile-form").children(".input-field").attr("readonly", false).attr("required", true)
    });

    $("#cancel-button").click(function(e){
        e.preventDefault();
        location.reload();
    });
</script>
</body>
</html>