<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <title>Supervisor Dashboard</title>
</head>

<body>
    <header th:replace="partials/partials.html :: header"></header>
    <h1>THIS IS SUPERVISOR DASHBOARD</h1>

    <!-- List all assigned employees of logged in supervisor -->
    <div id="assigned-employees">
        <h1>My assigned employees</h1>
        <div th:each="employee: ${employees}">
            <span th:text="${employee.firstName}"></span>
            <span th:text="${employee.lastName}"></span>
            <span th:text="${employee.email}"></span>

            <!-- View employee's profile -->
            <form style="display:inline;" th:action="@{/profile/{id}(id=${employee.id})}" th:method="get">
                <input type="submit" value="View Profile">
            </form>

            <!-- View employees current deliverables -->
            <form style="display:inline;" th:action="@{/deliverables/{id}(id=${employee.id})}" th:method="get">
                <input type="submit" value="Current Deliverables">
            </form>

            <!-- Create a new deliverable and assign to employee -->
        </div>
    </div>

    <!-- All employees should be listed here with search functionality -->
    <div id="All Employees">
        <h1>All Employees</h1>
        <div th:each="employee : ${allEmployees}">
            <span th:text="${employee.firstName}"></span>
            <span th:text="${employee.lastName}"></span>
            <span th:text="${employee.email}"></span>
            <!-- View employee's profile -->
            <form style="display:inline;" th:action="@{/profile/{id}(id=${employee.id})}" th:method="get">
                <input type="submit" value="View Profile">
            </form>
            <!-- View employees current deliverables -->
            <form style="display:inline;" th:action="@{/deliverables/{id}(id=${employee.id})}" th:method="get">
                <input type="submit" value="Current Deliverables">
            </form>
        </div>
    </div>
</body>
</html>