/* FOOTER */
#main-footer {
    background-color: #212529;;
}

#main-footer p {
    color: #ffffff;
}

#footer-site-map{
    width: 300px;
}

#footer-site-map li {
    list-style-type: none;
}

#footer-site-map a {
    color: #ffc107;
}

#footer-site-map a:hover {
    color: #e7ca73;
    text-decoration: underline;
}

#footer-logo{
    max-width: 300px;
}