<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <style>
        .show {
            display: block;
        }

        .hide {
            display: none;
        }
    </style>
    <title>Create deliverable</title>
</head>

<body sec:authorize="isAuthenticated()">
<header th:replace="partials/partials.html :: header"></header>

<!-- FORM TO CREATE NEW DELIVERABLE AND ASSIGN TO EMPLOYEE -->
<h1>New task for <span th:text="${employee.firstName}"></span>&nbsp;<span th:text="${employee.lastName}"></span></h1>

<form id="new-task-form" th:action="@{/deliverables/{id}/create(id=${employee.id})}" th:object="${deliverable}" method="post">
    <!-- Title -->
    <label for="title">Title</label><br>
    <input id="title" name="title" type="text" required><br>

    <!-- Category --->
    <label for="categorySelect">Category</label><br>
    <select name="categorySelect" id="categorySelect" required>
        <option value="" selected disabled hidden>Select category</option>
        <option th:each="option : ${categoryOptions}" th:value="${option}" th:text="${option}"></option>
    </select><br>

    <!-- Description --->
    <label for="description">Description</label><br>
    <textarea id="description" name="description" cols="30" rows="10" required></textarea><br>

    <!-- Deadline --->
    <label for="deadline"></label><br>
    <input id="deadline" name="deadline" type="date" required><br>

    <!-- Upload Files--->
    <h3>Upload Files</h3>
    <div id="new-files">
        <div class="file-input-container hide">
            <input id="filename1" name="filename1" type="text" class="file-name-input" readonly>
            <input id="fileurl1" name="fileurl1" type="text" class="file-url-input" readonly>
            <button class="delete-button">Remove</button>
        </div>
        <div class="file-input-container hide">
            <input id="filename2" name="filename2" type="text" class="file-name-input" readonly>
            <input id="fileurl2" name="fileurl2" type="text" class="file-url-input" readonly>
            <button class="delete-button">Remove</button>
        </div>
        <div class="file-input-container hide">
            <input id="filename3" name="filename3" type="text" class="file-name-input" readonly>
            <input id="fileurl3" name="fileurl3" type="text" class="file-url-input" readonly>
            <button class="delete-button">Remove</button>
        </div>
        <div class="file-input-container hide">
            <input id="filename4" name="filename4" type="text" class="file-name-input" readonly>
            <input id="fileurl4" name="fileurl4" type="text" class="file-url-input" readonly>
            <button class="delete-button">Remove</button>
        </div>
        <div class="file-input-container hide">
            <input id="filename5" name="filename5" type="text" class="file-name-input" readonly>
            <input id="fileurl5" name="fileurl5" type="text" class="file-url-input" readonly>
            <button class="delete-button">Remove</button>
        </div>
        <button id="file-picker">Attach</button><br>
    </div>

    <input type="submit" value="Create new Task ">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/keys.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    const client = filestack.init(FILESTACK_KEY);
    const filePicker = document.getElementById("file-picker");
    const options = {
        fromSources: ["local_file_system","url","googledrive"],
        maxFiles: 5,
        onUploadDone(files){
            // loop through uploaded files
            for(let i = 0; i < files.filesUploaded.length; i++){
                let file = files.filesUploaded[i];
                const fileNameInputs = document.getElementsByClassName("file-name-input");
                const fileUrlInputs = document.getElementsByClassName("file-url-input");

                // loop through class="file-name-input" and look for an empty space
                for(let j = 0; j < fileNameInputs.length; j++) {
                    if(fileNameInputs[j].value.length === 0 && fileUrlInputs[j].value.length === 0){
                        fileNameInputs[j].value = file.filename;
                        fileUrlInputs[j].value = file.url;
                        fileNameInputs[j].parentElement.classList.toggle("hide");
                        break;  // we have already found a spot for our new file so exit, and proceed to next file (next 'i')
                    }
                }
            }
        }
    };

    const picker = client.picker(options);

    filePicker.addEventListener('click', function(e){
        e.preventDefault();
        picker.open();
    });

    $(".delete-button").click(function(){
        $(this).siblings().val("");  // removes value from input text boxes
        $(this).parent().toggleClass("hide"); // hides the input fields
    });
</script>
</body>
</html>