<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        .hide {
            display: none;
        }

        #deliverable-info {
            border: 1px solid lightgray;
            border-radius: 10px;
        }
    </style>
    <title>Edit deliverable</title>
</head>

<body sec:authorize="isAuthenticated()">
<header th:replace="partials/partials.html :: header"></header>

<div class="text-end mt-3">
    <a href="/supervisor-dashboard">Return to supervisor dashboard</a>
</div>

<div class="container d-flex justify-content-center align-items-center my-5">
    <form id="deliverable-info" th:action="@{/deliverables/{id}/edit(id=${deliverable.id})}" method="post" class="p-5">
        <h1>Task Submission</h1>
        <!-- Title -->
        <label for="title" class="form-label">Title</label>
        <input id="title" name="title" type="text" th:value="${deliverable.title}" readonly class="form-control">

        <!-- Category -->
        <label for="category" class="form-label">Category</label><br>
        <input id="category" name="category" type="text" th:value="${deliverable.category.getCategoryName()}" readonly class="form-control">

        <!-- Status -->
        <label for="status" class="form-label">Status</label><br>
        <input id="status" name="status" type="text" th:value="${deliverable.status.getStatusName()}" readonly class="form-control">

        <!-- Description -->
        <label for="description" class="form-label">Description</label><br>
        <textarea id="description" name="description" th:text="${deliverable.description}" class="form-control"></textarea>

        <!-- Last Updated -->
        <label for="last-active" class="form-label">Last Updated</label><br>
        <input id="last-active" name="last-active" type="text" th:value="${deliverable.lastActive}" readonly class="form-control">

        <!-- Deadline -->
        <label for="deadline" class="form-label">Deadline</label><br>
        <input id="deadline" name="deadline" type="text" th:value="${deliverable.deadline}" readonly class="form-control">

        <h6>Attachments</h6>
        <div th:each="attachment : ${attachments}">
            <a th:href="${attachment.fileUrl}" th:text="${attachment.fileName}" download></a>
        </div>

        <!-- Upload Files (Maximum of 5) -->
        <div id="new-files">
            <h3>Upload Files</h3>
            <div class="file-input-container hide">
                <input id="filename1" name="filename1" type="text" class="file-name-input" readonly>
                <input id="fileurl1" name="fileurl1" type="text" class="file-url-input" hidden readonly>
                <button class="delete-button btn btn-danger">Remove</button>
            </div>
            <div class="file-input-container hide">
                <input id="filename2" name="filename2" type="text" class="file-name-input" readonly>
                <input id="fileurl2" name="fileurl2" type="text" class="file-url-input" hidden readonly>
                <button class="delete-button btn btn-danger">Remove</button>
            </div>
            <div class="file-input-container hide">
                <input id="filename3" name="filename3" type="text" class="file-name-input" readonly>
                <input id="fileurl3" name="fileurl3" type="text" class="file-url-input"  hidden readonly>
                <button class="delete-button btn btn-danger">Remove</button>
            </div>
            <div class="file-input-container hide">
                <input id="filename4" name="filename4" type="text" class="file-name-input" readonly>
                <input id="fileurl4" name="fileurl4" type="text" class="file-url-input"  hidden readonly>
                <button class="delete-button btn btn-danger">Remove</button>
            </div>
            <div class="file-input-container hide">
                <input id="filename5" name="filename5" type="text" class="file-name-input" readonly>
                <input id="fileurl5" name="fileurl5" type="text" class="file-url-input" hidden readonly>
                <button class="delete-button btn btn-danger">Remove</button>
            </div>
        </div>
        <button id="file-picker" class="btn btn-outline-primary w-100 mb-3">Attach</button>
        <div class="d-flex justify-content-evenly align-items-center">
            <input type="submit" name="submit-name" value="save" class="btn btn-outline-dark">
            <input type="submit" name="submit-name" value="submit" class="btn btn-outline-success">
        </div>
    </form>
</div>

<footer th:replace="partials/partials.html :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/keys.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/sidepanel.js"></script>
<script>
    const client = filestack.init(FILESTACK_KEY);
    const filePicker = document.getElementById("file-picker");
    const options = {
        fromSources: ["local_file_system","url","googledrive"],
        maxFiles: 5,
        onUploadDone(files){
            // loop through uploaded files
            for(let i = 0; i < files.filesUploaded.length; i++){
                let file = files.filesUploaded[i];
                const fileNameInputs = document.getElementsByClassName("file-name-input");
                const fileUrlInputs = document.getElementsByClassName("file-url-input");

                // loop through class="file-name-input" and look for an empty space
                for(let j = 0; j < fileNameInputs.length; j++) {
                    if(fileNameInputs[j].value.length === 0 && fileUrlInputs[j].value.length === 0){
                        fileNameInputs[j].value = file.filename;
                        fileUrlInputs[j].value = file.url;
                        fileNameInputs[j].parentElement.classList.toggle("hide");
                        break;  // we have already found a spot for our new file so exit, and proceed to next file (next 'i')
                    }
                }
            }
        }
    };

    const picker = client.picker(options);

    filePicker.addEventListener('click', function(e){
        e.preventDefault();
        picker.open();
    });

    $(".delete-button").click(function(e){
        e.preventDefault();
        $(this).siblings().val("");  // removes value from input text boxes
        $(this).parent().toggleClass("hide"); // hides the input fields
    });
</script>
</body>
</html>