<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <meta charset="UTF-8">
    <title>Appointment Requests</title>
</head>

<body sec:authorize="isAuthenticated()">
    <header th:replace="partials/partials.html :: header"></header>
    <h1>This is appointment requests from supervisor perspective</h1>
    <a href="/supervisor-dashboard">Return to supervisor dashboard</a>

</body>
</html>